.product-lrg-width-lrg-height:hover .man-product-opacity{ background:#9B59B6; }
.product-lrg-width-lrg-height:hover .product-opacity{background:#9b59b6; }
.product-lrg-width-lrg-height:hover .together-opacity{ background:#9B59B6 !important; }
.search-box .search{ border-color: #9b59b6; }
.footer a{color:#9B59B6; }
.footer a:hover{color:#9B59B6; }
.product-small-hover-small-wrap:hover .product-opacity{background:#9b59b6; }
.product-bg-hover-big-wrap:hover .product-opacity{background:#9b59b6; }
.profile-holder-country .custom-select-box .btn { color:#9b59b6;}
.social-icon a:hover{color:#9b59b6;}
.profile-holder-country .custom-select-box .btn { color:#9b59b6;}
.profile-holder-country .custom-select-box .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color: #9b59b6; }
.profile-id{ color:#9b59b6;}
.newsletter .email{ border-color: #9b59b6; }
a{color:#9B59B6;}
a:hover{color:#9B59B6;}
a:focus{color:#9B59B6;}
.new-porduct-info{color:#9B59B6;}
body::-webkit-scrollbar-thumb {
  background-color: #9B59B6;
  
}
.product-small-width-small-height:hover .woman-product-opacity{ background:#9B59B6; }
 .show-mor-btn{ background:#9B59B6; border: 1px solid #9b59b6;} 
 .apply-cupon-btn:hover{ color:#9B59B6 !important; }
 .crand-total-btn{  background:#9B59B6; }
 .crand-total-text a{ color:#9B59B6 !important; }
 .shoping-bag-menu ol li a:hover{ color:#9B59B6; }
 .product-show-slider-nav>ul > li.active > a, .product-show-slider-nav > li.active > a:hover, .product-show-slider-nav> li.active > a:focus
{ 
border:1px solid #9B59B6 !important;}
.add-to-bag-btn{ background:#9B59B6 ;}
ul#thumblist li .zoomThumbActive{
border:1px solid #9B59B6;
}
.custom-fa  .fa-star{color:#9B59B6; }
.send-btn{background:#9B59B6; }

.catagory-item ul li a> .fa-check-square-o{ color:#9B59B6; }
.catagory-item ul li a:hover{ color:#9B59B6;}
.product-show-slider-nav >ul> li > a:hover .active{ border:1px solid #9B59B6 !important;}
.size-btn:hover{border:1px solid #9B59B6 !important;color:#9B59B6 !important; }

.color-panel .brown3{ background:#9B59B6!important; }

ul.thumblist li .zoomThumbActive{border:1px solid #9B59B6 !important;}



















