.together-with-wrap-discript p{color:#fff;}
.together-img-wrap{border: 6px solid #fff;}
.product-lrg-width-lrg-height .catalog-product-title .man-product-title-value p{color:#000000;}
.woman-product-title-text p{color:#fff;}
.woman-product-title-value p{color:#fff;}
.product-lrg-width-lrg-height .catalog-product-title .man-product-title-text p{color:#000000;}
.product-lrg-width-lrg-height .catalog-product-title .man-product-title-text p{color:#000000;}
.product-lrg-width-lrg-height .catalog-product-title .man-product-title-btn {}
.product-lrg-width-lrg-height .catalog-product-title .man-product-title-btn a{ color:#fff;background:#000000; }
.woman-product-title-btn a{ color:#fff !important;background:#000000; }
.product-lrg-width-lrg-height .catalog-product-title .man-product-title-value p> span{ color:#E5E5E5;}
/* color css */
#preloader {background: #fff;}
.logo-title a{color:#fff;}
.logo-title a:hover{color:#fff;}

.newsletter{border-bottom:1px solid #2b2e31;}
.newsletter .email::-webkit-input-placeholder {color: #999999;}
.newsletter .email:-moz-placeholder { /* Firefox 18- */color: #999999; }
.newsletter .email::-moz-placeholder {  /* Firefox 19+ */color: #999999; }
.newsletter .email:-ms-input-placeholder {color: #999999; }
.profile{border-bottom:1px solid #2b2e31;}

.social-icon a{ color:#616366;}
 
.profile-holder-country .custom-select-box .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{  color: #fff;}
.content-header{background: #efefef;}
.search-area .input-group .form-control{ border-bottom: 1px solid #666666;}
.search-area .input-group .form-control::-webkit-input-placeholder {color: #333333;}
.search-area .input-group .form-control:-moz-placeholder { /* Firefox 18- */color: #333333; }
.search-area .input-group .form-control::-moz-placeholder {  /* Firefox 19+ */color: #333333; }
.search-area .input-group .form-control:-ms-input-placeholder {color: #333333; }
.search-area .input-group .btn{ border-bottom: 1px solid #666666;}

.profile-holder-country .custom-select-box a{ color:#000; }
.profile-holder-country .custom-select-box a:hover{color:#000; }
.profile-holder-country .custom-select-box a:hover{color:#000;border-bottom:none;}

.product-opacity-content{color: #fff; }

.product-small-hover-small-wrap .product-opacity-content{color: #fff; }
.footer{color:#616366; }


.search-box .search::-webkit-input-placeholder {color: #999999;}
.search-box .search:-moz-placeholder { /* Firefox 18- */color: #999999; }
.search-box .search::-moz-placeholder {  /* Firefox 19+ */color: #999999; } 
.search-box .search:-ms-input-placeholder {color: #999999; }

 

.catalog-container{background:#fff; }
.catalog-product-title-discript p{ color:#000; }

.man-product-opacity-content h1{ color:#fff; }
.man-product-opacity-content h4{color:#fff; }

/* color css */































