@charset "utf-8";
/*
Name: Action
<?xml version="1.0" encoding="UTF-8"?>
author: themeskanon
*/
/* Table of Contents
--------------------------------------------------------------
Action Left Menu Section
Logo style
Scroll-bar
Preloader
Action Basic
Navigation style
Newsletter style
Profile style
Social style
Content Header Language style
Content Header Search style
Content Header Curency Lock style
Content Product Area style
Big Product Hover
Small Height Small Width Product Hover
Footer Area Style
home_ver_2 css start
homepage 3 css start 
catalog page css start 
man page css start
woman page css start 
shoping_bag-v-2 css start
shoping_bag-v-2 footer
Shoping_bag3 page css start
shoping bag 4 css start
product show
Landing page css start
contact form css start
*/
@font-face {
font-family: 'Arial';
src: url('../font/template-font/arial.ttf');
}
@font-face {
font-family: 'Georgia';
src: url('../font/template-font/georgiai.ttf');
}
@font-face {
font-family: 'Helvetica Neue LTPro';
src: url('../font/template-font/HelveticaNeueLTProUltLtEx.otf');
}
/* Action Left Menu Section*/
/* Logo style */
body{font-family: 'Arial';font-size:14px;}
h1{font-family: 'Helvetica Neue LTPro';font-size:48px;}
h2{font-family: 'Helvetica Neue LTPro';font-size:36px;}
h3{font-family: 'Arial';font-size:24px;}
h4{font-family: 'Arial';font-size:18px;}
h5{font-family: 'Arial';font-size:16px;}
h6{font-family: 'Arial';font-size:14px;}
p{}
li{list-style:none;}
a{text-decoration:none !important;}
a:hover{text-decoration:none !important;}
/*Scroll-bar*/ 
body::-webkit-scrollbar {
    width:6px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
   
  outline: 1px solid slategrey;
}

.btn{
font-family: 'Arial' !important;
font-size:14px !important;
font-weight:bold !important;
}
.form-control{
font-family: 'Arial' !important;
font-size:14px !important;
font-weight:bold !important;	
}
.btn:hover, .btn:focus {
color: #000 !important;
text-decoration: none;
outline: none !important;
}

.add-to-bag-btn:hover, .add-to-bag-btn:focus{
color: #fff !important;	
}

.crand-total-btn:hover, .crand-total-btn:focus{
color: #fff !important;	
}


/* #cssmenu::-webkit-scrollbar {
    width:6px;
}
 
#cssmenu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#cssmenu::-webkit-scrollbar-thumb {
  background-color: #9B59B6;
  outline: 1px solid slategrey;
} */
/*Preloader*/ 
#preloader {position:fixed;display: table;width: 100%;height: 100%;min-height: 100%;overflow-x: hidden;overflow-y: hidden;vertical-align: middle; z-index:999999;
}
.preloader-container {position: relative;display: table-cell;vertical-align: middle;z-index: 3;text-align:center;}
/*Action Basic*/ 
.menu-wrap{float:left;width:100%;}
.menu{float:left;width:16.2%;}
.newsletter-wrap{float:left;width:100%;margin-top: 34px;}
.content{float:left;width: 83.8%;}
.action-home .block-title{float:left;width:100%;height:166px;background:url('../images/logo-bg.jpg')}
.logo-wrapper{padding-bottom: 9px;float: left;margin-bottom:11px;}
.logo{float:left;width:100%;padding-top:22px;padding-bottom: 18px;text-align:center;}
.logo-img{float:left;width:100%;}
.logo-title{float:left;width:100%;margin-bottom: 4px;text-transform:uppercase;}
.logo-title h1{padding:0px;margin:0px;text-align:center;}

.logo-tag-line{float:left;width:100%;text-align:center;font-family:Georgia;font-size:12px;}

/* Navigation style */
/* .action-home #nav ul{text-align: left;margin-top: 0px; padding-top: 24px;}
.action-home #nav li{padding-left: 24px;padding-right:24px;}
.action-home #nav li a{font-family:Arial;font-size:14px;color:#fff; padding: 10px 0;border-bottom: 1px solid #333333;}
 
.action-home #nav li:last-child a{border-bottom:none;}
#nav li:focus, #nav li:hover{color: #fff;background:#9b59b6;}
 
.action-home #nav ul .active a{border-bottom:none;}
.newsletter-wrap{float:left;margin-top: 41px;} */
/* Newsletter style */
.newsletter{ height:80px;font-size:12px;font-family:Arial;font-weight:bold;padding: 0px 22px 1px 22px;}
.newsletter-wrap {
float: left;
width: 100%;
margin-top: 44px;
}
.newsletter .email{background: transparent; border-radius: 0px;margin-top: 4px;}
.profile-wrap{float:left;margin-top:3px;width: 100%;}
.social-icon-wrap{float:left;margin-top:-6px;}

/* Profile style */
.profile{ height: 95px;font-size:12px;font-family:Arial;font-weight:bold;padding: 22px 10px 14px 22px;}
.profile p{margin:0px;}
.profile .left{width:52px;height:52px;float:left;}
.profile .right{float:left;margin-left:10px;margin-top: 8px;}
.profile-name{float:left;width:100%;font-family:Arial;font-size:14px;}
.profile-id{float:left;width:100%; }
/* Social style */
.social-icon{height: 95px;padding: 22px 10px 14px 22px;font-size: 20px;}
.social-icon a{margin-right: 16px; }
 
.social-icon a:last-child{margin-right:0px;}

/* Action Right Content Section*/
/* Content Header style */
/* Content Header Language style */
.profile-holder-country{min-height:50px;float:left;width:100%;font-size:12px;font-family:Arial;font-weight:bold;padding-left:34px;}
.profile-holder-country .custom-select-box{width:100%;}
.profile-holder-country .custom-select-box .btn {width: 53px !important;font-size:12px;font-family:Arial;font-weight:bold;text-transform: uppercase;padding: 2px 0px 0px 0px;border-radius: 0px;margin-top: 12px;background: url('../images/country_underline.png') transparent -1% 100% no-repeat; }
.profile-holder-country .custom-select-box .btn .caret {margin-left: 20px;margin-top: -2px;}
.profile-holder-country .custom-select-box .bootstrap-select.btn-group .btn .filter-option{left: 0px;}
.profile-holder-country .custom-select-box .dropdown-menu{border-radius:0px;}
.profile-holder-country .custom-select-box .btn-group .dropdown-toggle:active, .profile-holder-country .custom-select-box  .btn-group.open .dropdown-toggle{-webkit-box-shadow: none;box-shadow: none;}
.profile-holder-country .custom-select-box .bootstrap-select.btn-group .dropdown-menu li > a{border-bottom:none;font-size:12px;font-family:Arial;font-weight:bold;width: 100%;}
.profile-holder-country .custom-select-box .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{ border: none; }

/* Content Header Search style */
.search-box {
float: left;
width: 100%;
}
.search-area .input-group{float:left;width: 67%;}
.search-area .input-group .form-control{float: left;width: 99%;border: none; border-radius: 0px;background: transparent;-webkit-box-shadow: none;box-shadow: none;margin-top: 0px;line-height: 12px;padding: 19px 0px 2px 0px;
text-transform: uppercase;font-size:12px;font-family:Arial;font-weight:bold;}

.search-area .input-group-btn{float:left;}
.search-area .input-group .btn{float: left;border: none; border-radius: 0px;background: transparent;-webkit-box-shadow: none;box-shadow: none;margin-top: 9px;line-height: 12px;padding: 4px 0px;font-size:14px;outline: -webkit-focus-ring-color auto 0px;}

/* Content Header Curency Lock style */
.profile-holder-wrap{float:right;padding-left:30px;padding-right:30px;}
.profile-holder-country .custom-select-box .btn {width: 53px !important;font-size: 12px !important;font-family:Arial;font-weight:bold;text-transform: uppercase;padding: 2px 0px 0px 0px;border-radius: 0px;margin-top: 12px;background: transparent; }
.profile-holder-country .custom-select-box a{font-size:22px; border-bottom:none;float: left;margin-top: 8px;}
.profile-holder-country .custom-select-box a:hover{ border-bottom:none;}
.curency{float:left;width:53px;padding-left:0px;}
.lock{float:left;width: 16px;padding-left:0px;}
.curency .custom-select-box .btn {width: 60px !important;}

/* Content Product Area style */
.product-area .col-sm-6{padding-left: 0px;padding-right: 0px;}
.product-area .col-sm-12{padding-left: 0px;padding-right: 0px;}
.product-area .row {margin-left: 0px;margin-right: 0px;}
.product-img{float:left;width:100%;height: 199px;}
.product-img img{width:100%;height: 100%;}
.product-img-width-lg{float:left;width:100%;height: 398px;}
.product-img-width-lg img{width:100%;height: 100%;}
.product-opacity-content h1{display:none;font-family:Helvetica Neue LTPro;text-transform:uppercase;}
.product-opacity-content h4{display:none;font-family: Georgia;font-size: 12px;text-transform:lowercase;}


/*Big Product Hover*/
.product-bg-hover-big-wrap{float:left;width:100%;height: 398px;position:absolute;cursor:pointer;}
.product-bg-hover-big-wrap:hover .product-opacity{ opacity:.8;transition: all 250ms ease-in;
-webkit-transition: all 250ms ease-in;-o-transition: all 250ms ease-in;-moz-transition: all 250ms ease-in;}
.product-bg-hover-big-wrap:hover .product-opacity-content h1{display:block;}
.product-bg-hover-big-wrap:hover .product-opacity-content h4{display:block;}
.product-opacity{float:left;width:100%;height: 398px;}
.product-opacity-content{ position: absolute;text-align: center;width: 100%;top: 33%;padding: 20px 0;}
/*Big Product Hover*/

.ui-accordion .ui-accordion-icons {
outline: none;
}
.product-img-height-lg{float:left;width:100%;height: 398px;}
.product-img-height-lg img{width:100%;height:100%;}
.product-img-height-lg{float:left;width:100%;height: 398px;}

/*Small Height Small Width Product Hover*/
.product-small-hover-small-wrap{float:left;width:100%;height: 199px;position:absolute;cursor:pointer;}
.product-small-hover-small-wrap:hover .product-opacity{ opacity:.8;transition: all 250ms ease-in;
-webkit-transition: all 250ms ease-in;-o-transition: all 250ms ease-in;-moz-transition: all 250ms ease-in;}
.product-small-hover-small-wrap:hover .product-opacity-content h1{display:block;}
.product-small-hover-small-wrap:hover .product-opacity-content h4{display:block;}
.product-small-hover-small-wrap .product-opacity{float:left;width:100%;height: 199px;}
.product-small-hover-small-wrap .product-opacity-content{ position: absolute;text-align: center;width: 100%;top: 18%;padding: 20px 0;}
/*Big Product Hover*/

.product-img-height-sm-width-lg{float:left;width:100%;height: 199px;}
.product-img-height-sm-width-lg img{width:100%;height:100%;}
.product-content-wrap{margin: 0 auto;width: 279px;}
.product-content{float:left;width:279px;height: 199px;text-align:center;padding: 55px 35px;margin: 0 auto;}
.product-tilte{font-size:14px;font-family:Arial;font-weight:bold;float: left;width: 100%;}
.porduct-info{font-size:18px;font-family:Georgia;font-weight:bold;margin-top: 35px;}
.custom-direc1{margin: 16px auto 0 auto;width: 92px;}

/*Footer Area Style*/
.footer{float:left;border-top: 1px solid #2b2e31;width:100%; padding: 0px 10px 0px 10px;line-height: 47px; text-align:center;font-size:14px;font-family:Arial;font-weight:bold;}
.footer a{ font-family:Georgia;}
.footer a:hover{ font-family:Georgia;}

/* Search Box style */
.search-box{height:50px;font-size:12px;font-family:Arial;font-weight:bold;padding: 0px 22px 1px 22px;display:none;}
.search-box .search{background: transparent; border-radius: 0px;margin-top: 1px;text-align: center;font-size:14px;font-family:Arial;font-weight:bold;}


/* home_ver_2 css start  */

.new-cure-denim{float:left;width:100%;height:100%; text-align: center !important;}
.new-cure-denim-content{float: none;width: 279px;height: 199px;text-align: center;padding: 40px 35px;margin:0 auto;}
.new-product-tilte{
font-size: 18px;
font-family: Arial;
font-weight: bold;
} 
.new-porduct-info{
font-size: 14px;
font-family: Georgia;
font-weight: bold;
margin-top: 31px;
font-style: normal !important;
} 
.selector{
width: 25px;
height: 12px;
 background: url(../images/selector.png) no-repeat;
float: left; 
margin-left: 45%;
margin-top: 199px;
z-index: 10;
position: absolute;
}
.selector2{
width: 25px;
height: 12px;
 background: url(../images/selector2.png) no-repeat;
float: left; 
margin-left: 45%;
margin-top: -12px;
z-index: 10;
position: absolute;
}


/* homepage 3 css start */
.together-wrapper{
float: left;
width: 100%;
border: 3px solid red;
margin-left: -15px;
}
.together-img-wrap{width: 100%;height: 378px;float: left;position: relative; }
.together-img-wrap img{width: 100%;height: 100%; }
.together-opacity{float: left;position: absolute;width: 100%;
height: 378px; 
z-index: 10; 
transition: all 250ms ease-in;
-webkit-transition: all 250ms ease-in;-o-transition: all 250ms ease-in;-moz-transition: all 250ms ease-in;
 
}
 
.product-lrg-width-lrg-height:hover .together-opacity{opacity:0.7; }
 
.together-with-wrap{float: left;position: absolute;width: 100%;height: 100%;z-index: 999;}
 
.together-with-wrap-title{text-align:center;margin-top: 97px;}

.product-lrg-width-lrg-height:hover .together-with-wrap-title h1{color:#fff;}
.together-with-wrap-title h1{color:transparent;font-size:48px; line-height: 42px;font-family: arial; transition: all 250ms ease-in;
-webkit-transition: all 250ms ease-in;-o-transition: all 250ms ease-in;-moz-transition: all 250ms ease-in;}
.together-with-wrap-discript{text-align:center;margin-top: 38px;}
.together-with-wrap-discript p{font-size:18px;}
.short-imag{border-left: 0px !important;}
.short-imag2{border-top: 0px !important;}
.long-img{border-top: 0px !important;border-left: 0px !important;} 
.product-area .col-sm-8 {padding-left: 0px;padding-right: 0px;}
.product-area >.row .col-sm-4 {padding-left: 0px;padding-right: 0px;}

/* catalog page css start */
.catalog-container{ float:left;width:100%;}
.catalog-container > .row > .col-sm-3{padding-left: 0px;padding-right: 0px;} 
.catalog-product-img{ height: 237px;width: 100%;float: left;}
.catalog-product-title{ width:100%;float:left;}
.catalog-product-title-img{float:left;height:45px;width:45px;margin-left: 17px;margin-top: 15px;}
.catalog-product-title-img a> img{ height:45px;width:45px; }
.catalog-product-title-discript{float:left;margin-left:15px;margin-top: 20px;margin-bottom: 50px;}
.catalog-product-title-discript p{ font-size:13px;font-family:arial; font-weight:bold;}
.catalog-product-title{}
.catalog-product-img img{height:227px;width:100%;}
.product-lrg-width-lrg-height:hover .product-opacity{ opacity:.8;transition: all 250ms ease-in;
-webkit-transition: all 250ms ease-in;-o-transition: all 250ms ease-in;-moz-transition: all 250ms ease-in;}
.product-lrg-width-lrg-height:hover .product-opacity-content h1{display:block;}
.product-lrg-width-lrg-height:hover .product-opacity-content h4{display:block;}

 /* man page css start */
.product-lrg-width-lrg-height .catalog-product-title .man-product-title-text{float:left;width:100%;text-align:center;} 
.man-product-opacity{ height:227px !important; position: absolute;width: 100%; text-align:center; }
.man-product-opacity-content{float:left;height:227px;width:100%;position: absolute;display:none; text-align:center;}
.man-product-opacity-content h1{  margin-top: 76px;} 
.man-product-title-text{ float:left;width:100%;text-align:center;}
.man-product-title-text p{font-family:arial;font-size:13px;}
.man-product-title-value{ float:left;width:100%;text-align:center;}
.man-product-title-value p{font-family:arial;font-size:14px;font-weight:bold;}
.man-product-title-value p> span{font-family:arial;font-size:14px;font-weight:bold;text-decoration: line-through;}
.man-product-title-btn{margin-top: 20px;width:100%; float:left ;text-align:center; height:26px; }
.man-product-title-btn a{padding: 5px 20px;border-bottom:none !important;}
.man-product-title-btn a> .fa{padding-right: 10px ;} 
.man-product-mar{margin-left:0px !important;} 
.product-lrg-width-lrg-height:hover .man-product-opacity-content{display:block;}
.product-lrg-width-lrg-height:hover .man-product-opacity{ opacity:.7; transition: all 250ms ease-in;
-webkit-transition: all 250ms ease-in;-o-transition: all 250ms ease-in;-moz-transition: all 250ms ease-in;}
 
 


/* woman page css start */
.woman-product-img{float:left;width:100%;height:316px;}
.woman-product-img img{ width:100%;height:316px;}
.woman-product-opacity{ height:316px !important; position: absolute;width: 100%;  }
.pproduct-small-hover-small-wrap{ display:none;}
.woman-opacity{ height:316px !important;position: relative;width:100%;}
.woman-product-opacity-content{float:left;height:316px;width:100%;position: absolute;display:none; }
.woman-product-title-text{margin-top: 65px;float:left;width:100%;text-align:center;}
.woman-product-title-text p{font-family:arial;font-size:13px;}
.woman-product-title-value{margin-top: 47px;float:left;width:100%;text-align:center;}
.woman-product-title-value p{font-family:arial;font-size:14px;font-weight:bold;}
.woman-product-title-btn{margin-top: 58px;width:100%; float:left ;text-align:center; height:26px; }
.woman-product-title-btn a{padding: 5px 20px;border-bottom:none !important;}
.woman-product-title-btn a> .fa{padding-right: 10px ;}
/* .product-small-width-small-height:hover .woman-product-opacity{display:block;} */
.product-small-width-small-height:hover .woman-product-opacity-content{display:block;}
 
.product-small-width-small-height:hover .woman-product-opacity{  opacity:.7; transition: all 250ms ease-in;
-webkit-transition: all 250ms ease-in;-o-transition: all 250ms ease-in;-moz-transition: all 250ms ease-in;}
 .show-mor-btn{width:100%;height:64px; text-align:center;color:#fff;font-size:18px;font-family:arial; } 
.show-more{display:none;}
.show-more-row{margin-top:-65px; }

/* shoping_bag-v-2 css start */
.descriptian-wrap{width:100%;height:58px;color:#999999;font-size:12px;padding: 24px;}
.descriptian-wrap{float:left;width:100%;height:58px; margin-bottom:10px;}
.shoping-bag2-content-header{float:left;width:100%;height:58px;border-bottom:1px solid #EFEFEF;  }
.color{width:100%;height:58px;color:#999999;font-size:12px;padding: 24px;text-align:center;}
.retail{width:100%;height:58px;color:#999999;font-size:12px;padding: 24px;text-align:center;}
.quantity{width:100%;height:58px;color:#999999;font-size:12px;padding: 24px;}
.total{width:100%;height:58px;color:#999999;font-size:12px;padding: 24px;text-align:center;}
.remove{width:100%;height:58px;color:#999999;font-size:12px;padding: 24px;text-align:left;}
.shoping-bag2-content{float:left;width:100%;height:180px; border-bottom:1px solid #EFEFEF;  }
.descriptian-img{ float:left;  width:100%;margin-left:20px;}
.descriptian-img a> img{width:129px;height:129px; }
.descriptian-text{float:left;width:100%;}
.descriptian-text h6{font-weight:bold; font-size:14px;margin-top: 74px;}
.descriptian-text p{ font-weight:bold;font-size:12px;}
.color-varint {font-weight:bold; font-size:14px;margin-top: 74px;width:100%;float:left;text-align:center;}
.retail-varint {font-weight:bold; font-size:14px;margin-top: 74px;width:100%;float:left;text-align:center;}
.quantity-varint {font-weight:bold; font-size:14px;margin-top: 74px;width:100%;float:left;text-align:center;}
.remove-varint {font-weight:bold; font-size:14px;margin-top: 74px;width:100%;float:left;text-align:center;}
.total-varint {font-weight:bold; font-size:14px;margin-top: 74px;width:100%;float:left; text-align:center;}
.quantity-form{border-radius:16px !important;padding: 7px 20px !important;}
.estimate-Shipping-select{height: 40px;width: 240px;font-size: 14px;color: #000;font-weight: bold;padding: 0px 10px;border:1px solid #CCCCCC;}
/* shoping_bag-v-2 footer */
.Discond-header h4{font-weight:bold;font-size:18px;padding-left:5px;margin-top: 37px;}
.Discond-header p{font-weight:bold;letter-spacing: -0.5px;font-size:14px;color:#999999;padding-left:5px;margin-top: 23px;margin-right:14px;}
.apply-cupon-text{float:left;width:240px;margin-left:5px;height:40px;border:1px solid #CCCCCC;color:#000;padding:10px;margin-top:10px;}
.apply-cupon-btn{margin-bottom: 53px !important;width:150px;height:40px;float:left;margin-left:5px;background:#000;border-radius:0px !important;margin-top:30px;text-align:center;color:#fff;font-size:14px;}

.Discond-wrapper{margin-left:15px;}
.estimate-header h4{font-weight:bold;font-size:18px;padding-left:5px;margin-top: 37px;}
.estimate-header p{font-weight:bold;font-size:14px;color:#999999;padding-left:5px;margin-top: 23px;}
.Estimate-Shipping-wrap{float:left;width:100%;} 
.Estimate-Shipping-header{float:left;width:100%;}
.estimate-Shipping h6{font-weight:bold;font-size:14px;color:#999999;padding-left:5px; margin-top:25px;}
.Subtotal{float:left;width:50%;font-weight:bold;font-size:14px;color:#000000;margin-top: 33px;}
.Subtotal-value{float:left;width:50%; font-weight:bold;font-size:14px;color:#000000;margin-top: 33px;} 
.crand-total{float:left;width:50%;font-weight:bold;font-size:18px;color:#000000;margin-top: 13px;}
.crand-total-value{float:left;width:50%; font-weight:bold;font-size:18px;color:#000000;margin-top: 13px;}
.crand-total-btn{ width:165px;height:40px;float:left;margin-left:5px; border-radius:0px !important;margin-top:50px;text-align:center;color:#fff;font-size:14px;}
.crand-total-text {float:left;width:100%;margin-top: 20px;}
.crand-total-text a{font-weight:bold;font-size:14px; padding-left:5px;font-style: normal; text-decoration: none !important;}


/* Shoping_bag3 page css start */
.retail-header{float:left;width:100%;}
.retail-header h1{margin-top: 45px;font-weight:bold; color:#000000;font-family:arial;font-size:48px;}
.retail-header h6{margin-top: 14px;font-weight:bold; color:#000000;font-family:arial;font-size:14px;}
.retail-header p{padding-right: 35px;margin-top:17px; line-height: 25px;color:#5B5A5A;font-family: Georgia !important;font-size:14px;}
.shoping-bag-menu{width:100%;float:left;margin-left:32px;height:68px;border-bottom:1px solid #EFEFEF; margin-top:20px;}
.shoping-bag-menu ol{ }
.shoping-bag-menu ol li{float:left; color:#999999;font-family: Georgia;font-size: 14px;}
.shoping-bag-menu ol li a{padding: 5px 0px;color:#000;font-size: 14px;font-family: Georgia; }

.rocca h4{font-family:Vivaldi;font-size:28px !important;font-weight:bold;}

 
.nav-tabs {border-bottom:0px !important;}
.color-panel{float:left;width:100%;}
.color-wrapper{font-weight: 800;margin-top:40px; font-family: arial;}
.color-wrapper h4{font-weight: 800; font-family: arial;}
.size-wrapper{height: 60px;font-weight: 800;margin-top:26px; font-family: arial;}
.size-wrapper h4{font-weight: 800; font-family: arial;}
.quantity-wrapper{height: 70px;font-weight: 800; margin-top:23px;font-family: arial;}
.quantity-wrapper h4{font-weight: 800; font-family: arial;}
.color-panel .brown{width: 33px;height: 20px;width:20px;float: left;padding: 0px;background:#A6664A!important;margin-right: 15px;border: 0px !important;border-radius: 16px !important;}
.color-panel .brown1{width: 33px;height: 20px;width:20px;float: left;padding: 0px;background:#FF9933!important;margin-right: 15px;border: 0px solid #B2B2B2 !important;border-radius: 16px !important;}
.color-panel .brown2{width: 33px;height: 20px;width:20px;float: left;padding: 0px;background:#DCDDDE!important;margin-right: 15px;border: 0px solid #B2B2B2 !important;border-radius: 16px !important;}
.color-panel .brown3{width: 33px;height: 20px;width:20px;float: left;padding: 0px; margin-right: 15px;border: 0px solid #B2B2B2 !important;border-radius: 16px !important;}
.add-to-bag-button{float:left;width:100%;height:45px;}
.product-sidebar-menu{float:left;width:87%;margin-top: 43px; }

.color-panel .color-wrapper ul li{border: 0px !important;width:20px;height:20px;margin-right:10px;padding:0px;}
.color-panel .color-wrapper ul li a{border: 0px !important;padding:0px !important;}
.color-panel .brown2{background:url(../images/color2.png) no-repeat;}
.color-panel .brown3{background:url(../images/color3.png) no-repeat;}
.color-panel .brown4{background:url(../images/color4.png) no-repeat;}
.color-panel >ul> li > a:hover{ border:0px !important;}
.product-show-slider-nav >ul> li > a { border:2px solid #F0F0F0 !important;border-radius:0px !important;width:126px;height:130px;margin-left:10px;}

.product-show-slider .tab-content{}
.product-show-slider-nav{height:200px;float:left;border:1px soid red;padding-top:20px;}
.product-page-conteiner{float:left;width:100%; }
.product-show-container{float:left;width:80%;margin-top:30px !important;margin-left: 46px !important;}
.product-show-content{height:420px;float:left;width:80%;}
.product-show-nav{height:85px;width:100%;float:left;}
.zoomWrapperImage{height:450px !important;width:100% !important; }
.product-show-slider-nav>ul > li.active > a, .product-show-slider-nav > li.active > a:hover, .product-show-slider-nav> li.active > a:focus
{ 
 
border-radius:0px !important;
background:url(../images/em13.png) no-repeat 42px -8px;
z-index:9999;
}
.size-button{float:left;width:100%;}
.size-btn{width: 50px;height: 32px;float: left;padding:0px;background: transparent;margin-right: 15px;border: 1px solid #B2B2B2 !important;border-radius: 16px !important; text-align: center;color: #000;font-size: 14px !important;font-weight:bold;}

.size-btn:active, .size-btn.active{border:1px solid red;border-radius:16px !important;}
.product-quantity{border-radius:16px !important;padding: 7px 20px !important;width:90px !important;}
.zoomWrapperTitle{display:none;}
.add-to-bag-btn{margin-right:10px; width:150px;height:40px;float:left;  border-radius:0px !important; text-align:center;color:#fff;font-size:14px;}
.add-to-bag-btn .fa{ padding-right:10px; }
.add-to-list-btn{ width:150px;height:40px;float:left; background:#fff;border-radius:0px !important;border:1px solid #000 !important ;text-align:center;color:#000;font-size:14px;}
.add-to-list-btn .fa{ padding-right:10px; }

 
.zoomWrapperTitle{background:none !important;border:0px !important;}
 /* shoping bag 4 css start */
 .together-img-wrap1{
width: 100%;
height: 378px;
float: left; 
}
.together-img-wrap1 img{
width: 100%;
height: 100%; 
}
 
 
/* product show */
.how-to-follow {float:left;width:87%;margin-top: 32px;}
.how-to-follow h4{font-size:18px;color:#000;font-weight:800;font-family:arial;}
.product-blue{margin-top: 10px;height:38px;width:38px;float:left;border:1px solid #000;background:#0D004C;border-radius: 20px;}
.need-supply{margin-top: 3px;float:left;width:150px;margin-left:20px;}
.followers{float:left;width:37px;margin-left: 60px;height:37px;border:1px solid #CCCCCC;text-align:center; }
.followers a{ text-align:center;color:#B2B2B2;font-weight:600;line-height:37px;font-size:14px;padding:10px;}
.followers a:hover{ color:#B2B2B2 !important; }
.need-supply h5{font-weight:600;font-size:16px; }
.need-supply h6{font-weight:600;font-size:14px; }
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.clearfix{display:block;margin-bottom:0px !important;height: 140px;width: 100%;float: left;margin-top:20px;}
.small-preview{float:left;height:106px;margin-top: 18px;margin-bottom:40px;}
.small-preview-content{float:left;height:106px;width:94px;margin-right:13px;}
.complete-looking{float:left;margin-left:18px;width:100%;margin-bottom:40px;}
.complete-header{float:left;width:100%;margin-top: 60px;}
.complete-header h4{font-weight:800;font-size:18px;padding-left:5px; color:#000;font-family:arial;}
.complete-content{float:left;margin-top: 41px;width:100%;}
.complete-image{float:left;width:100%;text-align:center;}
.complete-title{float:left;width:100%;margin-top: 35px;text-align:center;font-family:arial;font-size:14px;color:#000 !important;font-weight:bold;}
.complete-content .complete-title a{text-align:center;font-family:arial;font-size:13px;color:#000 !important;}  
.product-zoom-content{width:100%;height:510px;float:left;}
.clearfix-container{width:100%;float:left;height: 728px;}
.zoomproduct-img{border:1px solid #B2B2B2;}
.clearfix-tab{margin-left:50px;margin-top: 42px;}
.clearfix-thumblist{}
ul.thumblist{display:block;}
ul.thumblist li{float:left;margin-right: 10px;list-style:none;height: 130px;width: 130px;text-align:center;}
ul.thumblist li a{display:block;border:1px solid #CCC;line-height:130px;}


.jqzoom{
text-decoration:none;
float:left;
}

/* Landing page css start */
.landing-header{float:left;width:100%;text-align:center;font-weight: bold;}
.landing-header h1{font-size: 60px;}
.landing-header p{font-size: 18px;}
.landing-header a{text-align:center;color:#000 !important;font-weight: bold;}
.landing-header a:hover{color:#000;}
.landing-item{width: 100%;margin: 100px auto 0 auto;}
.landing-page-section{float:left;width: 100%;}
.footer-area{float:left;width: 100%;text-align: center;margin-top: 100px;color: #616366;font-size: 14px;font-family: Arial;font-weight: bold;}
.landing-item h2{text-align: center;font-weight: bold;}

/* contact form css start */
.contactus-form-wrapper{width:100%;float:left;margin-top:50px;}
.custom-label{}
.custom-form{width:90% !important;float:left;}
.custom-fa{width:10px;height:8px;float:left;margin-top: -10px;}
.custom-fa  .fa-star{ font-size:8px;}
.send-btn{ color:#fff;}
.send-btn:hover{ color:#fff !important;}
.send-btn:focus{ color:#fff !important;}
.catagory {width:100%;float:left;background:#D4D4D4;}
.catagory-heading{width: 100%;
float: left;
border-bottom: 1px solid #BBBABA;
height: 70px;
padding: 15px;
margin-bottom: 10px;}
.catagory-heading h4{color:#383838;font-size:30px;}
.catagory-item{width:100%;float:left;}
.catagory-item ul{ }
.catagory-item ul li{ }
.catagory-item ul li a{ }
.catagory-item ul li a> .fa-check-square-o{ margin-right:10px;}
 
.catagory-item ul li a:hover .fa-check-square-o{ color:#7D7182;}



.product-sidebar-menu{border-top:1px solid #D3D3D3;}
.product-sidebar-menu .ui-accordion .ui-accordion-content{padding-top: 15px;}
.product-sidebar-menu .ui-accordion .ui-accordion-header .ui-accordion-header-icon{left: 15.8em !important;}

.product-sidebar-menu .ui-state-default, .product-sidebar-menu .ui-widget-content .ui-state-default, .product-sidebar-menu  .ui-widget-header .ui-state-default{border-bottom: 1px solid #D3D3D3 !important;border-top:none !important;}




